#ns_basetheme_back_to_top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#ns_basetheme_back_to_top:hover {
    background: #e9ebec;
}
#ns_basetheme_back_to_top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

